<div style="display: flex; flex-direction: row;">
    <mat-card class="list-contratos card-info">
        <mat-card-title>
            Contratos vigentes
        </mat-card-title>
        <mat-card-content>
    {{totalContratos}}
        </mat-card-content>
    </mat-card>
    <mat-card class="list-contratos card-info">
        <mat-card-title>
            Valor total (em R$)
        </mat-card-title>
        <mat-card-content>
    {{valorTotal | currency:'R$':true:'2.2-4'}}
        </mat-card-content>
    </mat-card>
    <mat-card class="list-contratos card-info">
        <mat-card-title>
            Valores pagos (em R$)
        </mat-card-title>
        <mat-card-content>
            A Implementar
        </mat-card-content>
    </mat-card>
    <mat-card class="list-contratos card-info">
        <mat-card-title>
            A Implementar
        </mat-card-title>
        <mat-card-content>
            Nenhuma pendência
        </mat-card-content>
    </mat-card>
</div>

<mat-card class="list-contratos">
    <mat-card-header>
        <mat-card-title>
            Seus contratos
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="tabelaContratos" matSort>
            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">
                    {{element._id}}
                </td>
            </ng-container>
            <ng-container matColumnDef="produto">
                <th mat-header-cell *matHeaderCellDef>Produto</th>
                <td mat-cell *matCellDef="let element">
                    {{element.produto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef>Valor $</th>
                <td mat-cell *matCellDef="let element">
                    {{element.valor | currency:'R$':true:'2.2-4'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="parcelas">
                <th mat-header-cell *matHeaderCellDef>Parcelamento</th>
                <td mat-cell *matCellDef="let element">
                    {{element.parcelas}}
                </td>
            </ng-container>
            <ng-container matColumnDef="dataInclusao">
                <th mat-header-cell *matHeaderCellDef>Contratação</th>
                <td mat-cell *matCellDef="let element">
                    {{element.dataInclusao | date:'dd/mm/YYYY'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="statusContrato">
                <th mat-header-cell *matHeaderCellDef>Situação</th>
                <td mat-cell *matCellDef="let element">
                    {{element.statusContrato}}
                </td>
            </ng-container>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>Opções</th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox></mat-checkbox>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns :displayColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
