
  <mat-toolbar color="primary" class="header-toolbar-config">
    <button mat-icon-button (click)="toogleSideBar()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">Bruno's Bank</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="content-container">
    <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
      <mat-list>
        <mat-list-item>Contratos</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Pagamentos</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Solicitações</mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

