
  <mat-toolbar color="primary" class="header-toolbar-config">
    <button mat-icon-button (click)="toogleSideBar()" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">Bruno's Bank</span>
    <span class="header-spacer"></span>
    Olá, Poliana
   
  </mat-toolbar>

  <mat-drawer-container class="content-container">
    <mat-drawer mode="side" [opened]="sidebarOpen" class="sidebar">
      <mat-list>
        <mat-list-item><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></mat-list-item>
        <mat-list-item>Contratos</mat-list-item>
        <mat-list-item>Pagamentos</mat-list-item>
        <mat-list-item>Solicitações</mat-list-item>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content class="main-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

